<div class="togethere-background"></div>
    <div class="sr-root">
      <div class="sr-main">
        <header class="sr-header">
          <div class="sr-header__logo"></div>
        </header>
        <div class="sr-payment-summary completed-view">
            <h1>Your payment succeeded</h1>
            <h4>
              View CheckoutSession response:
            </h4>
          </div>
          <div class="completed-view-section">
            <pre>

            </pre>
            <button onclick="window.location.href = '/';">Restart demo</button>

            <form id="manage-billing-form">
              <button>Manage Billing</button>
            </form>
          </div>
        </div>
        <div class="sr-content">
        </div>
      </div>
    </div>
